.searchResults {
    width: 100%;
    background-color: #023047;
    color: #fff;
    justify-content: flex;
  }
  .searchResultsTitle{
    font-size: 1.2rem;
    margin-bottom: 1rem;
    text-align: center;

  }