.appContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 300vh;
    color: #ee9b00; 
    
}
  
  .appHeader {
    text-align: center;
    margin-bottom: 2rem;
    width: 100%;
    padding: 1rem 0;
    background-color: #f48c06; 
  }
  
  .appTitle {
    font-size: 2.5rem;
    font-weight: bold;
    color: #f48c06; 
  }
  
  .searchAndPlaylist {
    display: flex;
    width: 100%;
    max-width: 1000px; 
    margin-bottom: 2rem;
    justify-content: space-around; 
    padding: 0 1rem;
    box-sizing: border-box;
  }
  

  .appSearchBar {
    margin-bottom: 20px;
    width: 100%; 
    max-width: 1000px;
  }
  
  .appSearchResults {
      width: 100%;
  }
  
  .appPlaylist{
      width: 100%;
  }
  
  
  @media (max-width: 800px) { 
    .searchAndPlaylist {
      flex-direction: column;
      align-items: center; 
    }
    .appSearchResults, .appPlaylist{
        width: 100%;
        margin-bottom: 2rem;
    }
    .appTitle{
      font-size: 2rem;
    }
  }
  
