body{
  background-image: url('./pexels-photo-949587.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  
}

.App {
  text-align: center;
}



.App-logo {
  height: 80vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ffba08;
  min-height: 200vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #fb8500;
}

.App-link {
  color: #f48c06;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

